.fluied_container{
	transition: all 2s;
}
.jumbotron {
    position: relative;
    height: 300px;
    background-size: cover;
}

.jumbotron > .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 132, 230, 0.85);
    z-index: 1;
}

.jumbotron > .inner {
    position: relative;
    z-index: 2;
}
.card_top{
    background-color: #FB4444;
    color: antiquewhite;
    margin-bottom: 20px;
	height: 50px;
    border-radius: 5px;
	font-size: 18px;
    padding-left: 10px;
    padding-top: 10px;
}

.main_menu{
    background-color: #ffffff;
    border-color: #ffffff;
    color: #db482e;
    padding-left: 0px;
    margin-left: 0px;
}
.btn-link{
    color:#5a5757;
    font-weight: bold;
}
.btn-link:hover{
    color:#db482e;
    font-weight: bold;
}

.badge-pill{
    background-color: #db482e;
}
.list-groupm, .list-group-item, .btn-linkو .card{
    border-width: 0px;
    border-style: none;
}

.list-group-item{
    padding-left: 0px;
    padding-bottom: 0px;
}
.card{
    border-style: none;
}
hr{
    color: #db482e;
}
.main_tap{
    background-color: #FB4444;
    color: #ffffff;
    width: 100%;
}
.nav-item:hover{
    color:#ffffff;
}
.d-flex{
    padding-left: 0px;
}
.nav-pills{
    width: 100%;
}
.btn_login{
	background: #707070;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
	margin-left:60px;
	margin-top:10px;
	font-weight:bold;

}
.nav-link{
	position:relative;
}
body{
    font-family:'Cairo', sans-serif;
}

.hamburger span {
    width: 18px;
    height: 2px;
    border-radius: 10px;
    opacity: 0.7;
    margin: auto;
    background-color: #b3b0b0;
    display: block;
    margin-bottom: 4px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.fluied_container{
    direction: ltr;
    min-height:500px;
}
.aactive{
  color:red;
}
.first_nav{
    min-height:45px;
    background:#000;
    width:100%;
}
.email{
    color: #fff;
    position: relative;
    top: 12px;
    font-size: 17px;
    margin-left: 10px;
}
.mobile{
    color: #fff;
    position: relative;
    top: 12px;
    font-size: 16px;
     margin-left: 10px;
}
.col-icon{
  position: relative;
  right: 23px;
}
.listitemsecandarynav1{
    float: left;
    margin: 10px;
    font-size: 17px;
    color: #9090ad;
    font-weight: bold;
	position: relative;
    top: 15px;
}
.listitemsecandarynav{
	float: left;
    margin: 10px;
    font-size: 17px;
    color: #393D40;
	position: relative;
    top: 15px;
	margin-left: 15px;
}


.drop-home{
    color: #909090;
}
.drop-home:hover{
    color: #000;
}
.drop-home-black{
    color: #b7b7b7;
}
.drop-home-black:hover{
    color: #fff;
}
ul, ol{
    padding: 0;
    margin: 0;
    list-style: none;
}

.section-home-slide{
    padding-top: 0px;
    position: relative;
    
}
.section-home-slide:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
 
}

#homeSlider .owl-nav > div{
  position: absolute;
  top:10px;
  bottom: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin: auto;
}
.item{
	margin-right:20px;
}
#homeSlider .owl-nav > div.owl-prev{
  right:50px;
}
#homeSlider .owl-nav > div.owl-next{
    left: 50px;
    transform: rotate(180deg);
    top: 10px;
}
#homeSlider .owl-nav > div span{
  width: 100%;
  height: 100%;
  display: block;
}
#homeSlider .owl-nav > div span img{
    width: 50px;
    height: 50px;
    padding: 15px;
    background: rgb(156, 156, 156);
    border-radius: 50%;
}

.item_slide{
    position: relative;
    min-height:350px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#homeSlider .slide_txt{
  position: absolute;
    bottom: 130px;
    left: 0px;
    width: 100%;
    padding: 10px;
    text-align: left;
    z-index: 2;
}
.slide_txt h4 {
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    top: -163px;
    left: 0px;
    font-size: 35px;
}

.slide_txt  p{
    font-size: 14px;
    height: 70px;
    overflow: hidden;
    line-height: 1.4;
    background: rgba(0, 0, 0, .5);
    padding: 10px 25px 20px;
    border-radius: 3px;
}

.overlay {
    position: absolute;
    background: url(../images/blak-overlay.png) repeat-x;
    right: 0;
    top: 35px;
    width: 100%;
    height: 143%;
    transform: rotate(180deg);
}
.owl-controls{
  margin: 0 !important;
}
#homeSlider .owl-dots{
  display: none !important;
}
#rating-slide .owl-dots{
  display: none !important;
}
.img-icon{
    width:20px;
    margin-left: 6px;
    float: left;
}
.eng-icon{
padding-left:0px;
text-align: left;
}
.icon{
    color: #7d7d7d;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.img-logo{
    width: 165px;
    margin-top: 25px;
    margin-right: 13px;
}
.img-logo:hover {
    transform: scale(1.1, 1.1);
}
/*menu*/
.menu-mobile{
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0;
  height: 100%;
  width: 250px;
  background: #0388B4;
  z-index: 1001;
  overflow-y:auto; 
  -webkit-transform:translateX(265px);
  -moz-transform:translateX(265px);
  -ms-transform:translateX(265px);
  -o-transform:translateX(265px);
  transform:translateX(265px);
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease,-webkit-transform .4s ease;
  -webkit-box-shadow: -2px 0 20px 0 rgba(33, 23, 23, 0.68);
  box-shadow: -2px 0 20px 0 rgba(33, 23, 23, 0.68);
}
.brand-area{
  position: relative;
  padding-top: 20px;
}
.hamburger {
  width: 35px;
  height: 35px;
  background: #000;
  border-radius: 0px;
  border: none;
  position: relative;
  top: -125px;
  z-index: 0;
  float: right;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-transition: background-color .2s linear;
  -ms-transition: background-color .2s linear;
  transition: background-color .2s linear;
  display: none;
  margin-top: 45px;
  border:1px solid #b3b0b0;
  cursor: pointer;
  margin-left: 10px;
  padding-top: 5px;
}
.menu-home{
    background: #fff;
    color: #eee;
    text-align: center;

}
.menu-home-inside{
    min-height:90px;
    min-width: 180px;
}
.menu-home-inside li{
    background: #fff;
    height: 40px;
    padding-top: 9px;
    font-size: 16px;
}
.menu-home-inside li:hover{
    background: #eee;
}
.menu-home-inside li a{
    color:rgba(0, 0, 0, 0.8);
}
.close_menu{
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 24px;
  cursor: pointer;
  color: #363636;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.close_menu:hover{
  background-color: #767676;
  color: #fff;
}
.brand-area a {
    width:90%;
    height: auto;
    display: block;
    background-size: contain;
    margin: 0px auto 0 auto;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.brand-area a > img{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.mmenu > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.mmenu > ul li a {
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    transition: all .3s;
}

.mmenu > ul li a > i{
  margin-left: 5px;
}
.mmenu > ul li a:hover {
    background: #eee;
    color: #757272;
    border-color: #eee;
}
.register-mobile{
  margin-top: 0 !important;
}
.plusIcon{
  font-size: 14px;
  margin-left: 5px;
}
.m-overlay {
    position: fixed;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: #333;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.menu-toggle {
    overflow: hidden;
}
.menu-toggle .m-overlay {
    opacity: 0.6;
    visibility: visible;
}
.menu-toggle .menu-mobile {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);

}

.menu-toggle .main-wrapper{

  -webkit-transform:translate3d(-250px,0,0);
  -moz-transform:translate3d(-250px,0,0);
  -ms-transform:translate3d(-250px,0,0);
  -o-transform:translate3d(-250px,0,0);
  transform:translate3d(-250px,0,0);

}
html.menu-toggle{
  overflow: hidden;
}
.mmenu .social-mobile li{
  display: inline-block;
  margin: 5px;
}
.mmenu .social-mobile{
  display: table;
  margin: auto;
  text-align: center;
}
.mmenu .social-mobile li a{
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  padding:0;
  text-align: center;
}
.mmenu .social-mobile li a > i{
  margin: 0;
}
.mmenu .social-mobile li a{
  border-bottom: 0;
}

.wrapper-blur{
  -moz-filter: blur(1.5px);
  -webkit-filter: blur(1.5px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

.overlay-close {
    cursor: pointer;
    width: 60px;
    height: 60px;
    transform: scale(0);
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 0px;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background-color:#0388B4;
}
.overlay-close:before, .overlay-close:after {
    border-color: #161616;
}
.overlay-close:before, .overlay-close:after {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
    content: '';
    position: absolute;
    height: 5px;
    width: 50px;
    top: 50%;
    left: 50%;
    background: #fff;
}
.overlay-close:before {
    transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
}
.overlay-close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
}



.tab-label, .tab-label-color {
    margin-bottom: 23px;
}
.tab-label label p { 
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: normal
}
.tab-label label {
    width: 49%
}
.tab-label-color .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 4.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 28px;
    width: 28px;
    transition: all 0.15s ease-out 0s;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    z-index: 1000;
    border-radius: 100%;
    margin-right: 20px;
}
.tab-label .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 4.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 22px;
    width: 22px;
    transition: all 0.15s ease-out 0s;
    background: #eee;
    border: 1px solid #eeeeee;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    z-index: 1000;
    border-radius: 3px;
}
.tab-label-color .option-input:hover{
    background: var(--main-color);
}
.tab-label .option-input:hover {
    background: var(--main-color);
}
.tab-label-color .option-input:checked{
    background: var(--main-color);
}
.tab-label .option-input:checked{
    background: var(--main-color);
}

.tab-label-color .option-input:checked::before {
    height: 28px;
    width: 28px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 14.66667px;
    text-align: center;
    line-height: 28px;
}
.tab-label .option-input:checked::before {
    height: 22px;
    width: 22px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 14.66667px;
    text-align: center;
    line-height: 22px;
    font-weight: normal
}
.tab-label-color .option-input:checked::after, .top-label:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: var(--main-color);
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.tab-label .option-input:checked::after, .top-label:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: var(--main-color);
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}






/*hamburger*/
.hamburger1 {
  width: 35px;
  height: 35px;
  background: transparent;
  border-radius: 0px;
  border: none;
  position: relative;
  z-index: 0;
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-transition: background-color .2s linear;
  -ms-transition: background-color .2s linear;
  transition: background-color .2s linear;
  display: none;
  margin-top: 45px;
  border:1px solid #b3b0b0;
  cursor: pointer;
  margin-left: 10px;
}
.hamburger1:hover{
  background-color:transparent;
}
.hamburger1:hover span:nth-child(1) {
  transform: translate(0, -2px);
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
}
.hamburger1:hover span:nth-child(3) {
  transform: translate(0, 2px);
  -webkit-transform: translate(0, 2px);
  -ms-transform: translate(0, 2px);
}
.hamburger1.active span:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
  -webkit-transform: rotate(45deg) translate(4px, 4px);
  -ms-transform: rotate(45deg) translate(4px, 4px);
}
.hamburger1.active span:nth-child(2) {
  transform: translate(-4px, 0);
  -webkit-transform: translate(-4px, 0);
  -ms-transform: translate(-4px, 0);
  opacity: 0;
}
.hamburger1.active span:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
  -ms-transform: rotate(-45deg) translate(4px, -4px);
}
.hamburger1 span {
  width: 18px;
  height: 2px;
  border-radius: 10px;
  opacity: 0.7;
  margin: auto;
  background-color: #b3b0b0;
  display: block;
  margin-bottom: 4px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.hamburger1 span:last-child{
  margin-bottom: 0;
}
.hamburger1:hover span{
  background-color: #fff;
  opacity: 1;
}

/*hamburger*/
.rgba-slider-image{
    background:rgba(0, 0, 0, 0.3);
    min-height:350px;
}
.main_menu{
    position: relative;
    top: 20px;
    right: 0px;
}
.caret{
    margin-right: 0px;
    margin-left: 5px;
    float: right;
    position: relative;
    top: 12px;
}
.button-nav{
    background: none;
    color: #FF6F27;
    border: 1px solid #FF6F27;
    padding: 6px;
    width: 100px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 15px;
    position: relative;
    right: 0px;
    left:0px;

}
#nour{
  text-align: center;
  padding-left: 0px;
  padding-right:0px;
  margin-top:5px;
}
.lang-home{
    margin-top:25px;
    text-align: right;
}
.logo{
	margin-top:20px;
	width:70%;
	height:70px;
}
.logo:hover{
	transform : scale(1.1,1.1);
	transition:all 1.5s;
}
/**End First Section**/

.first-section{
	background:#800000;
	height: 50px;
	padding-top:7px;
}
.first-section h5{
	color: #fff;
    font-weight: 700;
}
.icon-location{
	float:left;
    color: #fff;
    position: relative;
    top: 10px;
}
/**Start Slider**/

        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider arrow skin 106 css*/
        .jssora106 {display:block;position:absolute;cursor:pointer;}
        .jssora106 .c {fill:#000;opacity:.3;}
        .jssora106 .a {fill:none;stroke:#000;stroke-width:350;stroke-miterlimit:10;}
        .jssora106:hover .c {opacity:.5;}
        .jssora106:hover .a {opacity:.8;}
        .jssora106.jssora106dn .c {opacity:.2;}
        .jssora106.jssora106dn .a {opacity:1;}
        .jssora106.jssora106ds {opacity:.3;pointer-events:none;}

        /*jssor slider thumbnail skin 101 css*/
        .jssort101 .p {position: absolute;top:0;left:0;box-sizing:border-box;background:#000;}
        .jssort101 .p .cv {position:relative;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;z-index:1;}
        .jssort101 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;visibility:hidden;}
        .jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {border:none;border-color:transparent;}
        .jssort101 .p:hover{padding:2px;}
        .jssort101 .p:hover .cv {background-color:rgba(0,0,0,6);opacity:.35;}
        .jssort101 .p:hover.pdn{padding:0;}
        .jssort101 .p:hover.pdn .cv {border:2px solid #fff;background:none;opacity:.35;}
        .jssort101 .pav .cv {border-color:#fff;opacity:.35;}
        .jssort101 .pav .a, .jssort101 .p:hover .a {visibility:visible;}
        .jssort101 .t {position:absolute;top:0;left:0;width:100%;height:100%;border:none;opacity:.6;}
        .jssort101 .pav .t, .jssort101 .p:hover .t{opacity:1;}

/**End Slider**/


/**End Content**/
.con-content{
	margin-top:50px;
}
.heading-of-content{
	color: #B4B4B4;
    text-transform: uppercase;
    text-align: center;
}
.c-line-center-projects {
    width: 30%;
    height: 4px;
    background-color: #9C9797;
    position: relative;
    top: 0;
    right: 0px;
    margin: auto;
    margin-top: 5px;
}
.name-doctor{
	color: #9c9797;
}
.description-doctor{
	text-align: justify;
    color: #9c9797;
    line-height: 2.3;
	font-weight: 600;
}
.img-doctor-home{
	width: 100%;
    height: 320px;
    border-radius: 5px;
}
.row-heading-content{
	margin-bottom:50px;
	margin-top:30px;
}
.img-services{
	width:100%;
	height:210px;
	border-radius: 10px;
}
.name-of-services{
	color: #9c9797;
    text-transform: capitalize;
}
.desc-of-services{
	color: #9c9797;
	line-height: 1.6;
	text-align:justify;
}
/**End Content**/


/*================================*/
	/*- sectionTestimonials -*/
/*================================*/


.sectionTestimonials {
	margin-top:50px;
	min-height:370px;
}
.sectionTestimonials .secHead h6 {
	text-align: center;
	font-size: 28px;
	color: #033E79;
	margin-bottom: 40px
}
.sectionTestimonials .secHead p {
	text-align: center;
	font-size: 13px;
	color: #333;
	width: 80%;
	margin: auto
}
#testimonials-slider{
	width: 700px;
	margin: auto
}
#testimonials-slider .client-link{
  position: relative;
  height: 150px;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
	margin-bottom: 25px
}
#testimonials-slider .client-link > img{
    margin: auto;
    width: auto !important;
    max-height: 100%;
	margin-bottom: 15px;
	box-shadow:0px 1px 13px -3px #eaeaea;
	border: 10px solid #fff
}
#testimonials-sliderr .owl-controls{
  margin-top: 50px !important;
}
#testimonials-slider.owl-theme .owl-dots .owl-dot span{
  width: 16px;
  height: 16px;
  background-color: transparent;
  border:2px solid #212B34;
  opacity: 0.3;
  margin: 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#testimonials-slider.owl-theme .owl-dots .owl-dot.active span,
#testimonials-slider.owl-theme .owl-dots .owl-dot span:hover{
  background-color: #212B34;
  opacity: 1;
}
#testimonials-slider .owl-item.active:nth-of-type(1) .client-link{
  border:0;
}
.owl-carousel .owl-item {
	padding: 3px !important
}
#testimonials-slider .item .secTitle{
	background: rgb(255 255 255 / 30%);
	border-radius: 20px;
	padding: 50px;
	margin-top:-62px;
}
#testimonials-slider .item .secTitle p {
	font-size: 16px;
	text-align: center;
	color: #fff;
	margin-bottom: 30px;
	font-weight:600;
	
}
#testimonials-slider .item .secTitle span {
	text-align: center;
	display: block;
	margin-top: 10px;
	color:#fff;
}
#testimonials-slider .client-item h4 {
	font-weight: bold;
	color: #fff;
	text-align: center;
	font-size: 20px
}
#testimonials-slider .owl-nav > div{
    position: absolute;
    top:100px;
    bottom: 0;
    width: 30px;
    height: 30px;
    line-height: 35px;
    text-align: center;
    color: #fff;
	background: #018ca3;
    font-size: 36px;
    margin: auto;
	font-size: 15px;
	border-radius: 2px
}
#testimonials-slider .owl-nav > div.owl-prev{
    right: 5px;
}
#testimonials-slider .owl-nav > div.owl-next{
    left: -15px;
}
#testimonials-slider .owl-nav > div span{
    width: 100%;
    height: 100%;
    display: block;
	
}



#homeSlider .owl-dots, #testimonials-slider  .owl-dots{
  display: none !important;
}


.sectionClints {
	background: #212B34;
	position: relative;
	padding: 200px 0 30px;
	top: -130px;
}
.sectionClints .allClints {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	margin: auto
}
.sectionClints .allClints .boxClints {
	width: 20%;
	margin: auto;
	transform: translateX(10%)
	
}
.sectionClints .allClints .boxClints img {
	margin: auto;
	border: 1px solid #eaeaea;
	padding: 40px
}

.rgba-clients{
	background:rgba(0,0,0,0.6);
	min-height: 370px;
	padding-bottom:50px;
}
.col-service{
	margin-bottom:20px;
}
.heading-of-client {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
/**End Clients**/
.inputs-in-contact{
	width:75%;
	margin-bottom:15px;
	float:right;
}
.input-register{
    height: 45px;
    background: #F2F2F2;
    color: #000;
    border-radius: 4px;
    border: none;
}
.btn-contact{
	width: 75%;
    background: #9c9797;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding-top: 8px;
}
.col-contact{
	text-align:right;
}
.lable-contact{
	text-transform: capitalize;
    color: #9c9797;
    font-size: 20px;
}
.face-icon{
	background: #9c9797;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    float: left;
	margin-right: 20px;
}
/**End Contact US**/
.footer{
	background: #efefef;
    padding: 35px;
    margin-top: 30px;
}
.li-footer{
	color: #868282;
    font-weight: 600;
	margin-bottom:20px;
}
.img-footer{
	width:100%;
	height:100px;
	border-radius:8px;
}
.img-footer-final{
	width: 70%;
    margin-top: 50px;
}
.copy-footer{
	color:#9c9797;
}
.title-footer{
	margin-bottom:25px;
}
/**End Footer**/

/**Start Register**/
.class2{
    width: 100%;
    margin: auto;
    min-height:400px;
	padding:10px;
}
#myModalLabel{
    text-align: center;
    font-size: 25px;
    color: #000;
    padding-bottom: 10px;
    border-bottom: 2px solid #e6e6e6;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}
.indexpage{
    width: 92%;
    height: 40px;
    border-radius: 4px;
    font-size: 15px;
    text-align:left;
    margin-left: : 35px;
    border: solid 1px #ccc;
}
.namenewsandarticle{
  font-size: 12px;
}
.modal-dialog {
    width: 850px;
    margin: 30px auto;
}
.img-popup{
	width: 100%;
    height: 100px;
    border-radius: 50%;
}
.input-in-register{
	width:100%;
	margin-bottom:10px;
}
.input-background{
	background:#F6F6F6;
}
.col-register-home{
	padding-right:0px;
	padding-left:0px;
}
.input-register-home {
    background: #F6F6F6;
    color: #000;
}
.btn-register-home {
    width: 100%;
    background: #9c9797;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding-top: 8px;
    margin-bottom: 20px;
}
.row-doctors{
	margin-bottom:10px;
}
/** End Style Account **/

.row-content{
	margin-bottom:15px;
}
/**End Style Home Page**/




.cover-img{
	width:100%;
	height:350px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}
.rgba-serices{
	width:100%;
	height:350px;
	background:rgba(0,0,0,0.5);
}
.heading-services{
	color: #800000;
    font-size: 30px;
    padding: 100px;
    position: relative;
    top: 100px;
}
.row-services{
	margin-top:50px;
	margin-bottom:20px;
}
.row-services h4{
	font-size:20px;
	color:#800000;
}
.row-services h5{
	color: #707977;
    line-height: 1.8;
    text-align: justify;
	margin-top:30px
}
.row-contactus{
	margin-top:50px;
	margin-bottom:20px;
}
.row-contactus .icon{
	background: #E3C7C7;
    padding: 20px;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
}
.row-contactus h4{
	text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    color: #8F8F8F;
}
.row-contactus h5{
    font-size: 17px;
    font-weight: bold;
    color: #8F8F8F;
}
.col-contactus{
	margin-bottom: 18px;
    padding-top: 50px;
}
.inputs-in-contactus-page{
	width:97%;
	margin-bottom:10px;
}
.btn-contactpage {
    width: 97%;
    background: #800000;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding-top: 8px;
	text-transform:uppercase;
}
.form-contact-page{
	box-shadow: 0 0 40px #f2f2f2;
    padding: 10px;
    border-left: 1px solid #f2f2f2;
    padding-left: 20px;
}




}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: none;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background:#fff;
}
.sticky .main_menu {
    background-color: #fff;
    border-color: none;
	position: relative;
    top: 0;
    right: -30px;
}
.sticky  .logo {
    margin-top: 0px;
    width: 55%;
    height: 70px;
	position: relative;
    right: -40px;
}

.sticky + .content {
  padding-top: 102px;
}